.home-details {
  height: 100vh;
}

@media screen and (max-width: 1200px) and (min-width: 750px) {
  .home-full-text-part {
      margin-left: 100px;
  }
}
@media screen and (max-width: 2000px) and (min-width: 1201px) {
  .home-full-text-part {
      margin-left: -200px;
  }
}
