.main-container{
  background-color : #10121B;
  color : white;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 720px) and (min-width: 100px) {
  .mouseParticles{
    display: none;
  }
  .desktop-navbar{
    display:none;
  }
}